
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .sec-title-container.less-padding-4 {
        padding-bottom: 30px;
    }

    .sec-title-container {
        width: 100%;
        float: left;
        padding-bottom: 120px;
    }

    .text-left {
        text-align: left;
    }

    h5.less-mar-1 {
        margin-bottom: 3px;
    }

    .ce-title-top-text {
        color: #888;
    }

    .font-weight-4 {
        font-weight: 400;
    }

    .line-height-4 {
        line-height: 40px;
    }

    h5 {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 16px;
        font-style: normal;
    }
</style>

<div class="container-fluid" style="padding: 50px 0 50px 0;">
    <div class="row no-gutter">
        <div class="col-md-6"> <img src="~/images/¡Elige-Unique-Portada.jpg" alt="" class="img-responsive"> </div>
        <!--end item-->
      
        <div class="col-md-6 padding-left-6">

            <div class="col-md-10">
                <div class="col-sm-12 nopadding">
                    <div class="sec-title-container less-padding-4 text-left">
         
                        <h2 class="font-weight-6 less-mar-1 line-height-5">Bienvenido al Portal de Administración</h2>
                        <div class="ce-title-line align-left"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!--end title-->


                <p>
                    Portal de administración de Bonificaciones encontrará las siguientes opciones .
                </p>

                <br>
                <div class="col-md-6 nopadding">
                    <ul class="iconlist dark">
                        <li><i class="fa fa-check"></i> Premio. </li>
                        <li><i class="fa fa-check"></i> Seguridad. </li>
            

                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="iconlist dark">
                        <li><i class="fa fa-check"></i> Parametros.</li>
                        <li><i class="fa fa-check"></i> Reportes. </li>
              
                    </ul>
                </div>
                <div class="clearfix"></div>
                <br><br>

            </div>
            <!--end item-->


        </div>
        <!--end item-->

    </div>
    <!--end item-->

</div>
