<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Yanbal de Bolvia</title>
</head>
<body>
    <br />
    <br />

    <div class="row" style="border: 3px solid #ff7810; width: 80%; border-collapse: collapse; padding-left:3em;padding-right:3em; ">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <h1 style="color:#ff7810"> <em>¡ELECCIÓN DE PREMIO RECIBIDA!</em> </h1>
                <br />
                <p><strong>Hola {UserName}</strong> </p>
                <br />
                <!--<p>La selección de tu premio <strong> {premio} </strong> con fecha {fechaPedido} por alcanzar el {ganamas} ha sido recibida con éxito.</p>-->
                <p>La selección de tu premio <strong> {premio} </strong> con fecha {fechaPedido} ha sido recibida con éxito.</p>
                <br />
                <p>Tu pedido será enviado a la siguiente dirección:</p>
                <p>{direccionL1},</p>
                <p>{distrito},</p>
                <p>{ciudad},</p>
                <p>{departamento}.</p>
                <br />
                <!--<p>Para conocer el detalle y el estado del env&iacute;o, accede al Portal de Negocio con tu c&oacute;digo y contrase&ntilde;a. Ingresa a la secci&oacute;n <strong>PEDIDOS</strong>&nbsp;y seleciona la opci&oacute;n <strong>VISUALIZAR PEDIDOS</strong>.</p>-->
                <br />
                <br />
                <br />
                <br />
                <br />
                <a><img src="http://www.serviciosyanbal.com/premio/images/logo.png" /></a>
                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="mod-2"></div>
            <div class="md-6">

                <!--height:80px;width:140px;-->
                <!--<img src="http://www.serviciosyanbal.com/premio/images/Logo%20AJ.png" style="float:left; margin:10px;" />-->
                <!--<img src="http://www.serviciosyanbal.com/premio/images/AJNUEVO.png" style="float:left; margin:10px; height:70px;width:80px;" />
    <p style="font-size:14px;"><br />{mensajeAj} <a target="_blank" href="http://www.programasyanbal.com">www.programasyanbal.com</a></p>-->
                <!--<div class="row">
    <div class="col-md-2">-->
                <!--<a><img src="http://www.serviciosyanbal.com/premio/images/Logo%20AJ.png" style="height:80px;width:140px" /></a>-->
                <!--</div>
    <div class="col-md-5">-->
                <!--<p>{mensajeAj} <a target="_blank" href="http://www.programasyanbal.com">www.programasyanbal.com</a> </p>-->
                <!--</div>
    </div>-->

                <!--<img src="http://www.google-analytics.com/collect?v=1&tid=UA-113506494-1&cid={codConsultora}&t=event&ec=email&ea=open&el={codConsultora}&cs=premio&cm=email&cn={premioUrl}&cm1=1" />-->

                <br />
                <br />
                <br />
                <br />
            </div>
            <div class="mod-2"></div>
        </div>

    </div>
    <br />
    <br />
    <br />

</body>
</html>